      <div class="header">
        <div class="container">
          <!-- Header top area content -->
          <div class="header-top">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <!-- Header top left content contact -->
                <div class="header-contact">
                  <!-- Contact number -->
                  <span><i class="fa fa-search red"></i> comece buscando</span>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <!-- Header top right content search box -->
                <div class=" header-search">
                  <form class="form" role="form">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search...">
                      <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <!-- Button Kart -->
                <div class="btn-cart-md">
                  <a class="cart-link" href="#">
                    <!-- Image -->
                    <img class="img-responsive" src="{{=URL(a='pedeja', c='static', f='img')}}/cart.png" alt="" />
                    <!-- Heading -->
                    <h4>Destaques</h4>
                    <!--<span>3 items $489/-</span>-->
                    <div class="clearfix"></div>
                  </a>
                  <ul class="cart-dropdown" role="menu">
                    <li>
                      <!-- Cart items for shopping list -->
                      <div class="cart-item">
                        <!-- Item remove icon -->
                        <a href="#"><i class="fa fa-times"></i></a>
                        <!-- Image -->
                        <img class="img-responsive img-rounded" src="{{=URL(a='pedeja', c='static', f='img')}}/nav-menu/nav1.jpg" alt="" />
                        <!-- Title for purchase item -->
                        <span class="cart-title"><a href="#">Restaurante 1</a></span>
                        <!-- Cart item price -->
                        <span class="cart-price pull-right red">Petiscos</span>
                        <div class="clearfix"></div>
                      </div>
                    </li>
                    <li>
                      <!-- Cart items for shopping list -->
                      <div class="cart-item">
                        <!-- Item remove icon -->
                        <a href="#"><i class="fa fa-times"></i></a>
                        <!-- Image -->
                        <img class="img-responsive img-rounded" src="{{=URL(a='pedeja', c='static', f='img')}}/nav-menu/nav2.jpg" alt="" />
                        <!-- Title for purchase item -->
                        <span class="cart-title"><a href="#">Restaurante 2</a></span>
                        <!-- Cart item price -->
                        <span class="cart-price pull-right red">Mexicano</span>
                        <div class="clearfix"></div>
                      </div>
                    </li>
                    <li>
                      <!-- Cart items for shopping list -->
                      <div class="cart-item">
                        <!-- Item remove icon -->
                        <a href="#"><i class="fa fa-times"></i></a>
                        <!-- Image -->
                        <img class="img-responsive img-rounded" src="{{=URL(a='pedeja', c='static', f='img')}}/nav-menu/nav3.jpg" alt="" />
                        <!-- Title for purchase item -->
                        <span class="cart-title"><a href="#">Restaurante 3</a></span>
                        <!-- Cart item price -->
                        <span class="cart-price pull-right red">Japonesa</span>
                        <div class="clearfix"></div>
                      </div>
                    </li>
                    <li>
                      <!-- Cart items for shopping list -->
                      <div class="cart-item">
                        <!--<a class="btn btn-danger" data-toggle="modal" href="#shoppingcart1">Checkout</a>-->
                      </div>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-5">
              <!-- Link -->
              <a href="#">
                <!-- Logo area -->
                <div class="logo">
                  <img class="img-responsive" src="{{=URL(a='pedeja', c='static', f='img')}}/logo.jpg" alt="" />
                  <!-- Heading -->
                  <!--<h1>Pede Já</h1>-->
                  <!-- Paragraph -->
                  <!--<p>Boa busca, bom apetite</p>-->
                </div>
              </a>
            </div>
            <div class="col-md-8 col-sm-7">
              <!-- Navigation -->
              <nav class="navbar navbar-default navbar-right" role="navigation">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                      <li><a href="{{=URL(a='pedeja', c='initial', f='principal')}}"><img src="{{=URL(a='pedeja', c='static', f='img')}}/nav-menu/nav2.jpg" class="img-responsive" alt="" /> Home</a></li>

                      <li><a href="{{=URL(a='pedeja', c='initial', f='guia')}}"><img src="{{=URL(a='pedeja', c='static', f='img')}}/nav-menu/nav3.jpg" class="img-responsive" alt="" /> Guia</a></li>

                      <li class="dropdown hidden-xs">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{=URL(a='pedeja', c='static', f='img')}}/nav-menu/nav5.jpg" class="img-responsive" alt="" /> Categorias <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-md">
                          <li>
                            <div class="row">
                              <div class="col-md-4 col-sm-6">
                                <!-- Menu Item -->
                                <div class="menu-item">
                                  <!-- Heading -->
                                  <h3>Japonês</h3>
                                  <!-- Image -->
                                  <img src="{{=URL(a='pedeja', c='static', f='img')}}/dish/dish1.jpg" class="img-responsive" alt="" />
                                  <!-- Paragraph -->
                                  <p>Que tal um Japa!</p>
                                  <!-- Button -->
                                  <a href="{{=URL(a='pedeja', c='initial', f='guia')}}" class="btn btn-danger btn-xs">Encontrar</a>
                                </div>
                              </div>
                              <div class="col-md-4 col-sm-6">
                                <!-- Menu Item -->
                                <div class="menu-item">
                                  <!-- Heading -->
                                  <h3>Petiscos</h3>
                                  <!-- Image -->
                                  <img src="{{=URL(a='pedeja', c='static', f='img')}}/dish/dish2.jpg" class="img-responsive" alt="" />
                                  <!-- Paragraph -->
                                  <p>Um happy hour cai bem!</p>
                                  <!-- Button -->
                                  <a href="{{=URL(a='pedeja', c='initial', f='guia')}}" class="btn btn-danger btn-xs">Encontrar</a>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <!-- Menu Item -->
                                <div class="menu-item">
                                  <!-- Heading -->
                                  <h3>Quilo</h3>
                                  <!-- Image -->
                                  <img src="{{=URL(a='pedeja', c='static', f='img')}}/dish/dish3.jpg" class="img-responsive" alt="" />
                                  <!-- Paragraph -->
                                  <p>Ou uma refeição completa!</p>
                                  <!-- Button -->
                                  <a href="{{=URL(a='pedeja', c='initial', f='guia')}}" class="btn btn-danger btn-xs">Encontrar</a>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown visible-xs">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="menu.html">Vegetarian</a></li>
                          <li><a href="menu.html">Non Vegetarian</a></li>
                          <li><a href="menu.html">Special Menu</a></li>
                        </ul>
                      </li>


                      <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{=URL(a='pedeja', c='static', f='img')}}/nav-menu/nav4.jpg" class="img-responsive" alt="" /> Shop <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="items.html">Shopping</a></li>
                          <li><a href="item-single.html">Order Now</a></li>
                          <li><a href="checkout.html">Checkout</a></li>
                          <li><a href="reserve-seats.html">Reservation</a></li>
                          <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                      </li>-->

                      <li><a href="{{=URL(a='pedeja', c='initial', f='sobre')}}"><img src="{{=URL(a='pedeja', c='static', f='img')}}/nav-menu/nav1.jpg" class="img-responsive" alt="" /> Sobre</a></li>

                      {{if ( auth.has_membership('gerenciador') or auth.has_membership('administrador') ):}}
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{=URL(a='pedeja', c='static', f='img')}}/nav-menu/nav7.jpg" class="img-responsive" alt="" /> Gerenciar <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{=URL(a='pedeja', c='initial', f='profile')}}">Profile</a></li>
                          <li><a href="{{=URL(a='pedeja', c='initial', f='change_password')}}">Alterar senha</a></li>
                          <li><a href="{{=URL(a='pedeja', c='initial', f='cadastra_categoria')}}">Cadastrar Categoria</a></li>
                          <li><a href="{{=URL(a='pedeja', c='initial', f='cadastra_cliente')}}">Cadastrar Cliente</a></li>
                          {{if (auth.has_membership('administrador') ):}}
                            <li><a href="{{=URL(a='pedeja', c='initial', f='usuarios')}}">Usuários</a></li>
                            <li><a href="{{=URL(a='pedeja', c='initial', f='grupos')}}">Grupos</a></li>
                            <li><a href="{{=URL(a='pedeja', c='initial', f='membros')}}">Membros</a></li>
                          {{pass}}
                          <li><a href="{{=URL(a='pedeja', c='user', f='logout')}}">Logout</a></li>
                        </ul>
                      </li>
                      {{pass}}

                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>
            </div>
          </div>
        </div> <!-- / .container -->
      </div>