{{extend 'layout_blank.html'}}


{{block center}}


<div class="component">
					<div class="container">
						<!-- Components content -->
						
						<!-- Components content -->
						<div class="component-content">
							<!-- Heading -->
							<h3>Dados recebidos</h3>
							<!-- Button to trigger modal -->
								<div style="float:left; width: auto; margin-right:10px"><i class="fa fa-thumbs-up fa-5x"></i></div>
	
	<div style="float:left; width: 780px;"><p>Obrigado por se cadastrar no PedeJá, após passar por análise um de nossos funcionários entrará em contato a partir dos telefones cadastrados para que sua empresa esteja no guia, até logo!</p></div>

							<br><br>
							<div align="center">
							<a data-toggle="modal" href="{{=URL(a='pedeja', c='initial', f='principal')}}" class="btn btn-danger">Voltar ao Guia</a>
						</div>


						</div>
					</div>
				</div>

{{end}}