{{extend 'layout_blank.html'}}


{{block center}}

				<div class="about-company padd">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<!-- About Compnay Item -->
								<div class="about-company-item">
									<!-- About Company Image -->
									<img class="img-responsive img-thumbnail" src="{{=URL(a='pedeja', c='static', f='img')}}/chef/sobre.jpg" alt="" />
								</div>

							</div>
							<div class="col-md-6">
								<!-- About Compnay Item -->
								<div class="about-company-item">
									<!-- Heading -->
									<h3>Sobre <span class="lblue">Pede Já</span></h3>
									<!-- Paragraph -->
									<p> Pede Já é um segmento da Agência Pede Já, que atua na Baixada Santista com escritório situado à Rua Alexandre Martins, no bairro da Aparecida, em Santos. O site de busca Pede Já foi desenvolvido para você encontrar todas as informações atualizadas sobre restaurantes da Baixa da Santista.</p>

									<p>O serviço Pede Já é gratuito, tanto para proprietários de restaurantes quanto para o cliente. Gratuito, eficiente e atualizado para facilitar a vida do consumidor. Chega de guardar vários panfletos de delivery ou encontrar sites com informações desatualizadas, aqui no Pede Já a informação é completa!</p>

									<br /><!--/ Line break -->

								</div>
							</div>
						</div>
					</div>
				</div>


{{end}}